* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 44px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: left 11px center;
  padding-left: 35px;
}

.input-address {
  width: 690px;
  background-image: url(../img/home.svg);

}

.input-search {
  width: 306px;
  background-image: url(../img/search.svg);

}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
}

.button-primary {
  background: #1890FF;
  border: 1px solid #1890FF;
  color: #fff;
  margin-right: 10px;
}

.button-icon {
  margin-right: 6px;
}

.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../img/promo-image.png) no-repeat top -315px right -95px / 800px;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}

.promo-title {
  color: #302C34;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
}

.promo-text {
  max-width: 538px;
  color: #302C34;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.section-titel {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}

/* Cards */
.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-image {
  width: 384px;
  height: 250px;
  object-fit: cover;
}

.card-text {
  padding: 20px 23px 35px 24px;
}

.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.card-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}

.card-info {
  display: flex;
  align-items: center;
}

.rating {
  margin-right: 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #FFC107;
}

.price,
.category {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}

.price {
  margin-right: 10px;
}
.category{
  
}
.price:after {
  content: "";
  width: 5px;
  height: 5px;
  background:#8C8C8C;
  display: inline-block;
  vertical-align: middle;
  border-radius:50%;
  margin-left: 10px;
}
.rating-star{
  margin-right: 8px;
}